@section PageTitle {
    Edit Form
}
@model Product_Listing.Models.Product

@{
    ViewBag.Title = "Edit Product";
    ViewData["Action"] = "Edit";
    ViewData["ButtonText"] = "Save Changes";
}


	

<div class="container">
    <h2>Edit Product</h2>
    @await Html.PartialAsync("_ProductForm",Model)
</div>