@section PageTitle {
    Add Product
}
@model Product_Listing.Models.Product

@{
    ViewBag.Title = "Add Product";
    ViewData["Action"] = "Create";
    ViewData["ButtonText"] = "Submit";
}

<div class="container">
    <h2>Add a New Product</h2>
    
    @await Html.PartialAsync("_ProductForm", Model)
    
</div>

